.single {
    padding: 2px 16px;
    background: #fff;
    display: block;
    margin: 20px 10px;
    border-left: 8 solid #fff;
}

.single:hover {
    border-left: 8px solid #4979ff;
}

.imagestyle {
    width: 200px;
}

.imagecontainer {
    display: flex;
    justify-content: normal;
    flex-wrap: wrap;
}

.imagecard {
    flex-grow: 1;
    width: 33%;
    height: 100px;
}