.tittle {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}

.text {
  color: #777;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: centers;
}
.imagecontainer {
  display: flex;
  justify-content: normal;
  flex-wrap: wrap;
}

.imagecard {
  flex-grow: 1;
  width: 33%;
  height: 180px;
  overflow: hidden;
}

.favBtn {
  position: relative;
  top: 150px;
  background-color: #fb8045;
  color: #fff;
  border: none;
  margin-left: 12px;
  cursor: pointer;
  height: 25px;
  padding: 5px 17px;
  border-radius: 50px;
}

.imgHeading {
  position: absolute;
  background-color: #fcfcfc;
}

@media only screen and (max-width: 600px) {
  .imagecard {
    flex-grow: 1;
    width: 50%;
  }
}